   DATABASE_URL=postgresql+asyncpg://truong:truong123@localhost:5432/foodfast_db
   JWT_SECRET_KEY=Qw8k2n3Jv1lKp9x7Tz6s4Fh2Gd5Jm8Qw3r6t9y2u1o0pLkJmN
   JWT_ALGORITHM=HS256
   JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60s
   REDIS_URL=redis://localhost:6379/0